<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dribble Verification</title>
</head>
<body>
    <h3>Hello <%= username %>,</h3>
    <p>Your One time Password is <strong><%= password %></strong></p>
    <img src="cid:uniqueImageCID" alt="Embedded Image">

    <p>Thank you for being a part of Dribble.</p>
</body>
</html>